<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <p><Strong>Title: </Strong><span data-th-text="${bookDetails.title}"></span></p>
    <p><Strong>Description: </Strong><span data-th-text="${bookDetails.description}"></span></p>
    <p><Strong>Excerpt: </Strong><span data-th-text="${bookDetails.excerpt}"></span></p>
    <p><Strong>Cached: </Strong><span data-th-text="${bookDetails.cached}"></span></p>

    <div class="d-flex justify-content-end">
        <a href="/index.html" class="btn btn-success">Back</a>
    </div>
</body>
</html>